.menu {

	// .menu__icon
	&__icon {}

	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: toRem(105) toRem(15) toRem(15) toRem(30);
			transition: left 0.3s;
			background: $bgLightPink; //*Змінити колір можлива

			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(74);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
				background-color: $whiteColor;
			}

			.menu-open & {
				left: 0;

				&::before {
					left: 0;
				}
			}
		}
	}

	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: toRem(60);
		row-gap: toRem(15);

		@media (max-width:$tablet) {
			column-gap: toRem(40);
		}

		@media (max-width: toEm(880)) {
			column-gap: toRem(30);
		}

		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: toRem(25);
		}
	}

	// .menu__item
	&__item {
		@media (any-hover: hover) {
			&:hover {
				.menu__link {
					&::after {
						inline-size: 100%;
					}
				}
			}
		}
	}

	// .menu__link
	&__link {
		position: relative;
		font-size: toRem(20);
		text-decoration: none;

		@media (max-width: $mobile) {
			font-size: toRem(32);
		}

		&::after {
			content: '';
			position: absolute;
			inset-block-end: 0;
			inset-inline-start: 0;
			inline-size: 0;
			block-size: toRem(2);
			background-color: $mainColor;
			transition: inline-size 0.3s ease-out;
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}