//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	padding: toRem(11) toRem(50);
	border-radius: toRem(3);
	border: toRem(1) solid #000;
	background-color: rgba(255, 255, 255, 0.00);
	text-align: center;
	font-family: 'Lena' serif;
	font-size: toRem(20);
	transition: all 0.4s;

	@media (any-hover: hover) {
		&:hover {
			background-color: $mainColor;
			color: $whiteColor;
		}
	}

	&--fw {
		width: 100%;
	}
}