//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: toRem(11) toRem(50);
	border-radius: toRem(3);
	border: toRem(1) solid #000;
	background-color: rgba(255, 255, 255, 0.00);
	text-align: center;
	font-family: 'Lena', serif;
	font-size: toRem(20);
	transition: all 0.4s;
	text-transform: capitalize;

	@media (max-width:$mobileSmall) {
		font-size: toRem(18);
	}

	span {
		text-transform: lowercase;
	}

	b {
		font-family: "Kollektif", sans-serif;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: $mainColor;
			color: $bgLightPink;
		}
	}

	// .button--big
	&--big {
		padding-block-end: toRem(7);
		max-inline-size: toRem(592);
		width: 100%;
	}

	&--middle {
		padding-block-end: toRem(7);
		max-inline-size: toRem(244);
		width: 100%;
	}

	&--fw {
		width: 100%;
	}
}