.options {
	display: flex;
	flex-direction: column;
	row-gap: toRem(11);
	align-items: flex-start;

	@media (max-width:$mobileSmall) {
		row-gap: toRem(7);
	}

	// .options__name	
	&__name {
		font-weight: 700;
		line-height: 166.666667%;

		&:not(:last-child) {
			margin-block-end: toRem(11);
		}

		/* 30/18 */
		@media (max-width:$mobileSmall) {
			font-size: toRem(16);
			line-height: 140%;
		}
	}

	// .options__item
	&__item {
		position: relative;
		cursor: pointer;
	}

	// .options__input
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;

		&:focus-visible+.options__label:before {
			box-shadow: 0 0 5px #000;
		}

		&:checked+.options__label:before {}

		&:checked+.options__label:after {
			transform: scale(1);
		}
	}

	// .options__label
	&__label {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		gap: 10px;

		&:before {
			content: "";
			align-self: flex-start;
			width: 20px;
			height: 20px;
			flex: 0 0 20px;
			border: 1px solid #333;
		}

		&:after {
			content: "";
			transition: all 0.3s ease 0s;
			transform: scale(0);
			width: 10px;
			height: 10px;
			background: #333;
			position: absolute;
			left: 5px;
			top: 5px;
		}
	}

	// .options__text
	&__text {
		@media (max-width:$mobileSmall) {
			font-size: toRem(16);
			line-height: 140%;
		}
	}
}