// Заголовки, загальні БЕМ блоки та інше...
.page {
  // background-color: $bgLightPink;
}

//=== Title
.title {
  font-size: toRem(50);
  font-weight: 700;
  text-transform: capitalize;

  span {
    text-transform: lowercase;
  }

  &--white {
    color: $whiteColor;

    span {
      font-family: 'Lena', serif;
      font-weight: 400;
      text-transform: capitalize;
    }

    @include adaptiveValue("font-size", 50, 27, 0, 1466, 360);
  }

  &--order {
    span {
      font-family: 'Lena', serif;
      font-weight: normal;
      text-transform: capitalize;
    }

    @include adaptiveValue("font-size", 50, 27, 0, 1466, 360);
  }

  &--uns {
    span {
      font-family: 'Lena', serif;
      font-weight: normal;
      text-transform: lowercase;
    }

    @include adaptiveValue("font-size", 50, 27, 0, 1466, 360);
  }

  &--cnt {
    span {
      font-weight: normal;
      text-transform: capitalize;
    }

    @include adaptiveValue("font-size", 50, 29, 0, 1466, 360);
  }

}

//=== Item-location
.item-location {
  background-color: $bgPastelColor;
  flex-basis: toRem(513);
  flex-grow: 1;

  // .item-location__body
  &__body {
    position: relative;
    overflow: hidden;

    @media (any-hover: hover) {
      &:hover {
        .item-location__text {
          opacity: 1;
          visibility: visible;
        }

        .item-location__link::before {
          display: block;
        }
      }
    }
  }

  // .item-location__link
  &__link {
    position: relative;
    overflow: hidden;
    aspect-ratio: 513 / 288;
    flex-grow: 1;
    background-color: $whiteColor;

    &:not(:last-child) {
      margin-block-end: toRem(37);
    }

    &::before {
      display: none;
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      inline-size: 100%;
      aspect-ratio: 513 / 288;
      content: '';
      background-color: rgba(217, 217, 217, 0.56);
      z-index: 1;
    }
  }

  // .item-location__image
  &__image {
    inline-size: 100%;
    flex-grow: 1;
    object-fit: cover;
  }

  // .item-location__text
  &__text {
    display: inline-block;
    inline-size: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    inset-block-start: 50%;
    text-align: center;
    inset-inline-start: 0;
    transform: translate(0, -50%);
    z-index: 2;
    color: #434343;
    transition: all 0.4s;

    @media (max-width:$mobile) {
      font-size: toRem(25);
    }
  }

  // .item-location__link-title  
  &__link-title {
    margin-block-end: toRem(27);

    @media (any-hover: hover) {
      &:hover {
        .item-location__title {
          text-decoration: underline;
        }
      }
    }
  }

  // .item-location__title
  &__title {
    flex-grow: 1;
    font-size: toRem(30);
    font-weight: 700;
    padding-inline-start: toRem(25);

    @media (max-width: toEm(450)) {
      font-size: toRem(24);

      &:not(:last-child) {
        margin-block-end: toRem(17);
      }
    }
  }

  // .item-location__bottom
  &__bottom {
    text-align: left;
    padding-inline-start: toRem(25);
    padding-block-end: toRem(62);

    @media (max-width:$mobile) {
      padding-block-end: toRem(50);
    }

    @media (max-width:$mobileSmall) {
      padding-block-end: toRem(30);
    }
  }

  // .item-location__adress
  &__adress {
    &:not(:last-child) {
      margin-block-end: toRem(18);
    }

    @media (max-width:$mobileSmall) {
      &:not(:last-child) {
        margin-block-end: toRem(10);
      }
    }
  }

  // .item-location__schedule
  &__schedule {}
}

//=== Item-value
.item-value {
  background-color: $bgPastelColor;
  padding-inline: toRem(52);
  padding-block-end: toRem(65);
  padding-block-start: toRem(55);

  @media (max-width:$mobile) {
    padding-block-end: toRem(50);
    padding-block-start: toRem(40);
    padding-inline: toRem(30);
  }

  // .item-value__wrapper
  &__wrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  // .item-value__picture
  &__picture {
    inline-size: toRem(120);
    flex-basis: toRem(120);
    flex-shrink: 1;
    align-self: center;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-block-end: toRem(35);
    }

    @media (max-width:$mobile) {
      inline-size: toRem(100);
      flex-basis: toRem(100);

      &:not(:last-child) {
        margin-block-end: toRem(30);
      }
    }

    @media (max-width:$mobileSmall) {
      inline-size: toRem(60);
      flex-basis: toRem(60);
    }
  }

  // .item-value__image  
  &__image {
    inline-size: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }

  // .item-value__title
  &__title {
    flex-grow: 1;
    font-size: toRem(30);
    font-weight: 700;

    &:not(:last-child) {
      margin-block-end: toRem(43);
    }

    @media (max-width:$mobile) {
      font-size: toRem(27);

      &:not(:last-child) {
        margin-block-end: toRem(35);
      }
    }
  }

  // .item-value__text
  &__text {
    line-height: 166.666667%;

    /* 30/18 */
    @media (max-width:$mobile) {
      font-size: toRem(16);
    }
  }
}

//=== Presentation
.presentation {
  background-color: $mainColor;
  inline-size: toRem(700);
  padding-block: toRem(21);
  padding-inline-start: toRem(150);
  padding-inline-end: toRem(20);

  position: relative;
  z-index: 2;

  @media (max-width:$mobile) {
    inline-size: toRem(550);
    padding-inline-start: toRem(100);
  }

  @media (max-width: toEm(580)) {
    inline-size: toRem(450);
    padding-inline-start: toRem(30);
    padding-inline-end: toRem(10);
  }

  @media (max-width:$mobileSmall) {
    inline-size: toRem(316);
    padding-block: toRem(10);
  }
}

//=== Main-hero
.main-hero {

  // .main-hero__top
  &__top {
    background: $bgLinierGradientPink;
  }

  // .main-hero__bottom
  &__bottom {}
}

.top-main {

  // .top-main__container
  &__container {
    display: flex;
    padding-block-start: toRem(25);

    @media (max-width:$mobile) {
      flex-direction: column;
    }

    @media (max-width:$mobileSmall) {
      padding-block-start: toRem(5);
    }
  }

  // .top-main__info
  &__info {
    flex-basis: 41.141141%;
    /* 548/1332 */

    @media (max-width:$mobile) {
      block-size: 100%;
    }
  }

  // .top-main__inner  
  &__inner {
    flex-basis: 58.783784%;
    /* 783/1332 */
    flex-shrink: 1;
    position: relative;

    @media (max-width:$mobile) {
      padding-inline-start: toRem(40);
    }

    @media (max-width:$mobileSmall) {
      padding-inline-start: toRem(20);
    }
  }

  // .top-main__image-bg
  &__image-bg {
    inline-size: 95.785%;
    aspect-ratio: 750 / 500;
    flex-shrink: 1;
    position: absolute;
    inset-inline-start: 0;
    //inset-block-end: -20%;
    background-color: $bgPastelColor;

    @media (max-width:$mobile) {
      position: relative;
      inset-inline-start: toRem(10);
      //inset-block-end: toRem(-80);
    }

    @media (max-width:$mobileSmall) {
      //inset-block-end: toRem(-60);
    }

    @media (max-width: toEm(360)) {
      //inset-block-end: toRem(-40);
    }
  }

  // .top-main__image
  &__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
}

.hero-info {
  text-align: center;
  @include adaptiveValue("padding-block-start", 200, 70, 0, 1466, 798);
  @include adaptiveValue("padding-block-end", 200, 70, 0, 1466, 798);

  @media (max-width:$mobile) {
    padding-block-end: toRem(10);
  }

  // .story-info__sub-title
  &__sub-title {
    font-family: 'Lena', serif;
    font-size: toRem(20);
    text-transform: uppercase;

    &:not(:last-child) {
      margin-block-end: toRem(42);
    }

    @media (max-width: toEm(1100)) {
      &:not(:last-child) {
        margin-block-end: toRem(27);
      }
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(18);

      &:not(:last-child) {
        margin-block-end: toRem(22);
      }
    }
  }

  // .story-info__title
  &__title {
    @media (max-width:$tablet) {
      font-size: toRem(45);
    }

    @media (max-width:$mobile) {
      text-align: center;
      font-size: toRem(40);
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(35);
    }
  }
}

.main-bottom {

  // .main-bottom__container
  &__container {
    @include adaptiveValue("padding-block-start", 213, 100, 0, 1466, 798);
    @include adaptiveValue("padding-block-end", 164, 70, 0, 1466, 320);

    @media (max-width:$mobile) {
      padding-block-start: toRem(200);
    }

    @media (max-width: toEm(560)) {
      padding-block-start: toRem(150);
    }

    @media (max-width:$mobileSmall) {
      padding-block-start: toRem(100);
    }
  }

  // .main-bottom__text
  &__text {
    line-height: 1.666667;
    /* 30/18 */
    max-inline-size: toRem(1206);
    padding-inline-start: toRem(77);
    @include adaptiveValue("padding-inline-start", 77, 0, 0, 1466, 320);

    &:not(:last-child) {
      margin-block-end: toRem(40);
    }

    p {
      &:not(:last-child) {
        margin-block-end: toRem(15);
      }
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(16);
      line-height: 140%;
    }

    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }

  // .main-bottom__requirements  
  &__requirements {}
}

.requirements-main {
  max-inline-size: toRem(1206);
  padding-inline-start: toRem(77);
  line-height: 166.666667%;
  /* 30/18 */
  @include adaptiveValue("padding-inline-start", 77, 15, 0, 1466, 320);

  @media (max-width:$mobileSmall) {
    font-size: toRem(16);
    line-height: 140%;
  }

  // .requirements-main__subtitle
  &__subtitle {
    font-weight: 700;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-block-end: toRem(5);
    }
  }

  // .requirements-main__text
  &__text {
    &:not(:last-child) {
      margin-block-end: toRem(37);
    }

    @media (max-width:$mobileSmall) {
      &:not(:last-child) {
        margin-block-end: toRem(20);
      }
    }
  }

  // .requirements-main__list
  &__list {
    padding-inline-start: toRem(20);
  }

  // .requirements-main__item
  &__item {
    list-style: disc;
  }
}

//=== Item-work
.item-work {
  background-color: $bgPastelColor;
  position: relative;

  // .item-work__step
  &__step {
    background-color: $mainColor;
    text-transform: uppercase;
    font-size: toRem(30);
    color: $whiteColor;
    padding-block: toRem(27);
    padding-inline: toRem(35);
    max-inline-size: toRem(167);
    position: absolute;
    inset-block-start: toRem(-31);
    inset-inline-start: toRem(-88);
    z-index: 2;

    @media (max-width:$mobile) {
      inset-block-start: toRem(-25);
      inset-inline-start: toRem(-78);
      font-size: toRem(27);
    }

    @media (max-width: toEm(680)) {
      font-size: toRem(24);
    }

    @media (max-width: toEm(580)) {
      inset-block-start: toRem(-20);
      inset-inline-start: toRem(-52);
      padding-block: toRem(20);
      padding-inline: toRem(25);
      font-size: toRem(20);
    }

    @media (max-width:$mobileSmall) {
      padding-block: toRem(15);
      padding-inline: toRem(17);
      font-size: toRem(18);
    }
  }

  // .item-work__wrapper
  &__wrapper {
    padding-block-start: toRem(37);
    padding-block-end: toRem(68);
    padding-inline-start: toRem(176);
    padding-inline-end: toRem(86);

    @media (max-width:$mobile) {
      padding-inline-start: toRem(126);
      padding-inline-end: toRem(66);
      padding-block-end: toRem(50);
    }

    @media (max-width: toEm(680)) {
      padding-inline-start: toRem(100);
      padding-inline-end: toRem(50);
    }

    @media (max-width: toEm(580)) {
      padding-inline-start: toRem(75);
      padding-inline-end: toRem(30);
      padding-block-end: toRem(30);
    }

    @media (max-width:$mobileSmall) {
      padding-block-start: toRem(45);
      padding-inline-start: toRem(15);
      padding-inline-end: toRem(15);
    }
  }

  // .item-work__title
  &__title {
    font-size: toRem(30);
    font-weight: 700;
    text-transform: capitalize;

    span {
      text-transform: lowercase;
    }

    &:not(:last-child) {
      margin-block-end: toRem(13);
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(25);

      &:not(:last-child) {
        margin-block-end: toRem(10);
      }
    }
  }

  // .item-work__text
  &__text {
    line-height: 166.666667%;

    /* 30/18 */
    p {
      &:not(:last-child) {
        margin-block-end: toRem(15);
      }
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(16);
      line-height: 140%;
    }
  }
}

//=== Order-block
.order-block {
  display: flex;
  flex-direction: column;

  // .order-block__wrapper
  &__wrapper {}

  // .order-block__title
  &__title {
    &:not(:last-child) {
      margin-block-end: toRem(51);
    }

    @media (max-width:$mobile) {
      &:not(:last-child) {
        margin-block-end: toRem(40);
      }
    }

    @media (max-width:$mobileSmall) {
      &:not(:last-child) {
        margin-block-end: toRem(30);
      }
    }
  }

  // .order-block__text
  &__text {
    line-height: 166.666667%;

    /* 30/18 */
    &:not(:last-child) {
      margin-block-end: toRem(89);
    }

    @media (max-width:$mobile) {
      &:not(:last-child) {
        margin-block-end: toRem(60);
      }
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(16);
      line-height: 140%;

      &:not(:last-child) {
        margin-block-end: toRem(45);
      }
    }

    p {
      &:not(:last-child) {
        margin-block-end: toRem(15);
      }
    }
  }

  // .order-block__button
  &__button {}
}

//=== Top-block
.top-block {
  background: $bgLinierGradientPink;

  // .top-block__container
  &__container {
    padding-block: toRem(79);

    @media (max-width:$mobile) {
      padding-block: toRem(60);
    }

    @media (max-width:$mobileSmall) {
      padding-block: toRem(50);
    }
  }

  // .top-block__title
  &__title {
    text-align: center;
    @include adaptiveValue("font-size", 50, 29, 0, 1466, 360);
  }
}

//=== Content
.content {

  // .content__container
  &__container {
    margin: 0 toRem(72) 0 toRem(130);
    padding-block-start: toRem(100);
    padding-block-end: toRem(112);

    @media (max-width: toEm(1024)) {
      margin: 0 toRem(50) 0 toRem(100);
    }

    @media (max-width:$mobile) {
      margin: 0 toRem(30) 0 toRem(60);
      padding-block-start: toRem(60);
      padding-block-end: toRem(80);
    }

    @media (max-width: toEm(630)) {
      margin: 0 toRem(20) 0 toRem(30);
      padding-block-start: toRem(60);
      padding-block-end: toRem(80);
    }

    @media (max-width:$mobileSmall) {
      margin: 0;
      padding-block-start: toRem(30);
      padding-block-end: toRem(50);
    }
  }

  // .content__text
  &__text {
    line-height: 166.666667%;

    /* 30/18 */
    p {
      &:not(:last-child) {
        margin-block-end: toRem(34);
      }
    }

    @media (max-width: toEm(630)) {
      font-size: toRem(15);
    }

    @media (max-width:$mobileSmall) {
      line-height: 140%;
      font-size: toRem(16);

      p {
        &:not(:last-child) {
          margin-block-end: toRem(20);
        }
      }
    }
  }
}