//====================================================================================================
.page {

  // .page__hero
  &__hero {}

  // .page__collection    
  &__collection {}

  // .page__location  
  &__location {}

  // .page__previews  
  &__previews {}
}

//====================================================================================================
.hero {
  background: $bgLinierGradientStrongPink;

  // .hero__content
  &__content {
    display: flex;

    @media (max-width: toEm(1000)) {
      padding-block-end: toRem(50);
    }

    @media (max-width:$mobile) {
      flex-direction: column-reverse;
      row-gap: toRem(24);
    }

    @media (max-width:$mobileSmall) {
      row-gap: 0;
    }
  }

  // .hero__image-bg
  &__image-bg {
    inline-size: 47%;
    flex-shrink: 1;
    aspect-ratio: 1;
    padding-block-end: toRem(28);

    @media (max-width:$mobile) {
      inline-size: 79%;
      flex-basis: 79%;
      flex-shrink: 0;
      aspect-ratio: 1156 / 700;
    }
  }

  // .hero__image
  &__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  // .hero__info
  &__info {
    max-inline-size: toRem(410);
    padding-block-start: toRem(213);
    padding-inline-end: toRem(15);
    @include adaptiveValue("padding-block-start", 213, 100, 0, 1466, 768);

    @media (max-width: toEm(900)) {
      padding-block-end: toRem(115);
    }

    @media (max-width:$mobile) {
      max-inline-size: toRem(422);
      align-self: center;
      padding-block-end: toRem(0);
      padding-inline-start: toRem(15);
    }

    @media (max-width:$mobileSmall) {
      padding-block-start: toRem(80);
    }
  }

  // .hero__sub-title
  &__sub-title {
    font-family: 'Lena', serif;
    font-size: toRem(20);
    text-transform: uppercase;

    &:not(:last-child) {
      margin-block-end: toRem(58);
    }

    @media (max-width:$mobile) {
      text-align: center;

      &:not(:last-child) {
        margin-block-end: toRem(53);
      }
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(18);

      &:not(:last-child) {
        margin-block-end: toRem(40);
      }
    }
  }

  // .hero__title
  &__title {
    &:not(:last-child) {
      margin-block-end: toRem(48);
    }

    @media (max-width:$mobile) {
      text-align: center;
      font-size: toRem(40);
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(35);

      &:not(:last-child) {
        margin-block-end: toRem(5);
      }
    }
  }

  // .hero__button
  &__button {
    @media (max-width:$mobileSmall) {
      display: none;
    }
  }
}

//====================================================================================================
.collection {
  position: relative;

  // .collection__presentation
  &__presentation {
    position: absolute;
    inset-inline-start: 0;
    margin-block-end: toRem(47);

    @media (max-width:$mobileSmall) {
      margin-block-end: toRem(20);
    }
  }

  // .collection__wrapper
  &__wrapper {
    max-inline-size: toRem(1014);
    margin: 0 auto;
    padding-inline: toRem(15);
    display: flex;
    align-items: start;
    padding-block-start: toRem(90);
    padding-block-end: toRem(130);

    @include adaptiveValue("column-gap", 92, 10, 0, 1466, 1020);

    @media (max-width:$mobile) {
      padding-block-end: toRem(100);
      padding-block-start: toRem(70);
    }

    @media (max-width:$mobileSmall) {
      padding-block-start: toRem(50);
      padding-block-end: toRem(70);
    }
  }

  // .collection__items
  &__items {
    display: grid;
    grid-template-columns: 1.1187fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: toRem(92);

    @media (max-width:$tablet) {
      column-gap: toRem(50);
    }

    @media (max-width:$mobile) {
      column-gap: toRem(20);
    }

    @media (max-width: toEm(560)) {
      column-gap: toRem(0);
    }
  }

  // .collection__item
  &__item {}
}

.item-collection {
  max-block-size: toRem(350);

  &:not(:last-child) {
    margin-block-end: -14%;

    @media (max-width:$mobile) {
      margin-block-end: 0;
    }
  }

  &:nth-child(4n) {
    .item-collection__info {
      padding-inline-start: toRem(0);
    }
  }

  &:nth-child(3n+2),
  &:nth-child(4n+4),
  &:nth-child(1n+4) {
    .item-collection__info {
      padding-block-start: toRem(145);

      @media (max-width:$mobile) {
        padding-block-start: toRem(50);
      }

      @media (max-width: toEm(450)) {
        padding-block-start: toRem(25);
      }
    }
  }

  @media (max-width: toEm(560)) {

    &:nth-child(2),
    &:nth-child(4n+2) {
      .item-collection__link {
        position: relative;
        inset-block-start: 0;
        inset-inline-end: toRem(-70);

        @media (max-width: toEm(375)) {
          inset-inline-end: toRem(-50);
        }
      }
    }

    &:nth-child(3),
    &:nth-child(4n+3) {
      position: relative;
      inset-block-start: 0;
      inset-inline-start: toRem(-70);

      @media (max-width: toEm(375)) {
        inset-inline-start: toRem(-50);
      }
    }
  }

  // .item-collection__info
  &__info {
    padding-block-start: toRem(95);
    padding-inline-start: toRem(92);

    @media (max-width:$mobile) {
      padding-inline-start: toRem(50);
      padding-block-start: toRem(50);
    }

    @media (max-width: toEm(560)) {
      padding-inline-start: toRem(0);
    }

    @media (max-width: toEm(450)) {
      padding-block-start: toRem(25);
    }
  }

  // .item-collection__name
  &__name {
    font-size: toRem(30);
    font-weight: 700;
    line-height: 120%;

    &:not(:last-child) {
      margin-block-end: toRem(27);
    }

    @media (max-width: toEm(450)) {
      font-size: toRem(24);

      &:not(:last-child) {
        margin-block-end: toRem(17);
      }
    }
  }

  // .item-collection__text
  &__text {
    font-family: 'Lena', serif;

    @media (max-width: toEm(450)) {
      font-size: toRem(16);
    }
  }

  // .item-collection__link
  &__link {
    inline-size: toRem(350);
    flex-basis: toRem(350);
    flex-shrink: 1;
    flex-grow: 0;
    aspect-ratio: 1;
    // overflow: hidden;
    position: relative;

    // position: relative;
    // inset-block-end: -14%;
    // inset-inline-start: 0;
    @media (max-width:$mobile) {
      inline-size: toRem(250);
      flex-basis: toRem(250);
    }

    @media (max-width: toEm(560)) {
      inline-size: toRem(200);
      flex-basis: toRem(200);
    }

    @media (max-width: toEm(450)) {
      inline-size: toRem(170);
      flex-basis: toRem(170);
    }

    @media (max-width: toEm(375)) {
      inline-size: toRem(150);
      flex-basis: toRem(150);
    }
  }

  // .item-collection__image
  &__image {
    inline-size: 100%;
    object-fit: cover;
  }
}

//====================================================================================================
.location {
  background: $bgLinierGradientStrongPink;

  // .location__presentation
  &__presentation {
    margin-block-end: toRem(82);

    @media (max-width:$mobile) {
      margin-block-end: toRem(40);
    }

    @media (max-width:$mobileSmall) {
      margin-block-end: toRem(20);
    }
  }

  // .location__container
  &__container {}

  // .location__body
  &__body {
    margin: auto toRem(45);
    padding-block-end: toRem(90);

    @media (max-width:$tablet) {
      margin: auto toRem(25);
    }

    @media (max-width:$mobile) {
      margin: auto toRem(20);
    }

    @media (max-width:$mobileSmall) {
      margin: auto 0;
    }
  }

  // .location__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: toRem(40);
    row-gap: toRem(30);

    @media (max-width:$mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width:$mobileSmall) {
      margin-inline: toRem(-10);
    }
  }

  // .location__item
  &__item {}
}

//====================================================================================================
.previews {

  // .previews__items
  &__items {
    display: flex;

    @media (max-width:$mobile) {
      flex-direction: column;
    }
  }

  // .previews__item
  &__item {
    flex-basis: 50%;
    padding-block-start: toRem(93);
    padding-block-end: toRem(137);
    padding-inline: toRem(15);
    display: flex;
    flex-direction: column;

    &:nth-child(odd) {
      background-color: $bgPastelColor;
    }

    &:nth-child(even) {
      background-color: $bgLightPink;
    }

    @media (max-width:$tablet) {
      padding-block-start: toRem(70);
      padding-block-end: toRem(80);
    }

    @media (max-width:$mobile) {
      padding-block-start: toRem(50);
      padding-block-end: toRem(50);
    }
  }

  // .previews__title
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: toRem(40);
    text-transform: capitalize;
    flex-wrap: nowrap;

    span {
      font-family: 'Lena', serif;
      line-height: normal;
      font-weight: normal;
    }

    &:not(:last-child) {
      margin-block-end: toRem(70);
    }

    @media (max-width:$tablet) {
      font-size: toRem(35);
    }

    @media (max-width:$mobile) {
      font-size: toRem(30);

      &:not(:last-child) {
        margin-block-end: toRem(50);
      }
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(27);

      &:not(:last-child) {
        margin-block-end: toRem(30);
      }
    }
  }

  // .previews__text
  &__text {
    text-align: center;
    line-height: 166.666667%;
    /* 30/18 */
    flex-grow: 1;
    max-inline-size: toRem(340);
    margin: 0 auto;

    p {
      &:not(:last-child) {
        margin-block-end: toRem(15);
      }
    }

    &:not(:last-child) {
      margin-block-end: toRem(117);
    }

    @media (max-width:$mobile) {
      &:not(:last-child) {
        margin-block-end: toRem(70);
      }
    }

    @media (max-width:$mobileSmall) {
      &:not(:last-child) {
        margin-block-end: toRem(50);
      }
    }
  }

  // .previews__button
  &__button {
    align-self: center;
    max-inline-size: toRem(297);
  }
}