//====================================================================================================
.page {

  // .page__hero
  &__hero {}

  // .page__collection    
  &__collection {}
}

//====================================================================================================
.hero {
  background: $bgLinierGradientStrongPink;

  // .hero__content
  &__content {
    display: flex;

    @media (max-width: toEm(1000)) {
      padding-block-end: toRem(50);
    }

    @media (max-width:$mobile) {
      flex-direction: column-reverse;
      row-gap: toRem(24);
    }

    @media (max-width:$mobileSmall) {
      row-gap: 0;
    }
  }

  // .hero__image-bg
  &__image-bg {
    inline-size: 47%;
    flex-shrink: 1;
    aspect-ratio: 1;
    padding-block-end: toRem(28);

    @media (max-width:$mobile) {
      inline-size: 79%;
      flex-basis: 79%;
      flex-shrink: 0;
      aspect-ratio: 1156 / 700;
    }
  }

  // .hero__image
  &__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  // .hero__info
  &__info {
    max-inline-size: toRem(410);
    padding-block-start: toRem(213);
    padding-inline-end: toRem(15);
    @include adaptiveValue("padding-block-start", 213, 100, 0, 1466, 768);

    @media (max-width: toEm(900)) {
      padding-block-end: toRem(115);
    }

    @media (max-width:$mobile) {
      max-inline-size: toRem(422);
      align-self: center;
      padding-block-end: toRem(0);
      padding-inline-start: toRem(15);
    }

    @media (max-width:$mobileSmall) {
      padding-block-start: toRem(80);
    }
  }

  // .hero__sub-title
  &__sub-title {
    font-family: 'Lena', serif;
    font-size: toRem(20);
    text-transform: uppercase;

    &:not(:last-child) {
      margin-block-end: toRem(58);
    }

    @media (max-width:$mobile) {
      text-align: center;

      &:not(:last-child) {
        margin-block-end: toRem(53);
      }
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(18);

      &:not(:last-child) {
        margin-block-end: toRem(40);
      }
    }
  }

  // .hero__title
  &__title {
    &:not(:last-child) {
      margin-block-end: toRem(48);
    }

    @media (max-width:$mobile) {
      text-align: center;
      font-size: toRem(40);
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(35);

      &:not(:last-child) {
        margin-block-end: toRem(5);
      }
    }
  }

  // .hero__button
  &__button {
    @media (max-width:$mobileSmall) {
      display: none;
    }
  }
}

//====================================================================================================
.collection {

  // .collection__presentation
  &__presentation {
    margin-block-end: toRem(47);
  }

  // .collection__wrapper
  &__wrapper {
    inline-size: toRem(1014);
    margin: 0 auto;
    padding-inline: toRem(15);
    display: flex;
    align-items: start;
    column-gap: toRem(92);
    margin-block-end: toRem(130);
  }

  // .collection__columns-left
  &__columns-left {}

  // .collection__columns-right
  &__columns-right {}
}


.columns-left {
  align-self: end;
  display: grid;
  grid-template-rows: 1fr 1.206fr;

  // .columns-left__item
  &__item {
    &:nth-child(odd) {
      padding-block-start: toRem(95);
      padding-inline-start: toRem(92);
    }
  }

  // .columns-left__name
  &__name {
    font-size: toRem(30);
    font-weight: 700;
    line-height: 120%;

    /* 36/30 */
    &:not(:last-child) {
      margin-block-end: toRem(27);
    }
  }

  // .columns-left__description
  &__description {
    font-family: 'Lena', serif;
  }

  // .columns-left__link
  &__link {
    inline-size: toRem(350);
    flex-basis: toRem(350);
    flex-shrink: 0;
    flex-grow: 0;
    aspect-ratio: 1;
    overflow: hidden;
  }

  // .columns-left__image  
  &__image {
    inline-size: 100%;
    object-fit: cover;
  }
}

.columns-right {

  // .columns-right__item
  &__item {
    &:nth-child(even) {
      padding-block-start: toRem(95);
    }
  }

  // .columns-right__link
  &__link {
    inline-size: toRem(350);
    flex-basis: toRem(350);
    flex-shrink: 0;
    aspect-ratio: 1;
  }

  // .columns-right__image  
  &__image {
    inline-size: 100%;
    object-fit: cover;
  }

  // .columns-right__name
  &__name {
    font-size: toRem(30);
    font-weight: 700;
    line-height: 120%;

    /* 36/30 */
    &:not(:last-child) {
      margin-block-end: toRem(27);
    }
  }

  // .columns-right__description
  &__description {}
}